<h1>作品編集</h1>

 <%= form_with model: @work, url: admins_work_path(@work.id), method: :patch do |f| %>
  <h4>作品名</h4>
   <%= f.text_field :name %>
  <h4>あらすじ</h4>
   <%= f.text_area :story %>
  <%= f.submit '更新する' %>

<% end %>